<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v12.0&appId=1612724995668272&autoLogAppEvents=1" nonce="ttdde3mr"></script>

<div class="fb-page" data-href="https://www.facebook.com/oslobarnemuseum" data-tabs="events" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/oslobarnemuseum" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/oslobarnemuseum">Oslo Barnemuseum</a></blockquote></div>
