---
title: false
styles: true
---
$backgroundColour: #ffffff !default;
$linkColour: #2e76cf;
$hoverColour: #173b67;

@import "alembic";

.footer {
	background: #fff;
}

.footer a:hover {
	color: $hoverColour;
}

.nav-partners {

}

.partner {
	filter: grayscale(1);
	max-height: 64px;
}

.logo img {
	max-height: 6rem;
}

